#modal {
	position:fixed;
	background-color:$white;
	z-index:99;
	padding:4rem 3.5rem;
	left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    max-height:75%;
	overflow-y:scroll;

	display:none;

	&.active {
		display:block;
		+ #modal-overlay { display:block; }
	}

	.modal-toggle {
		z-index:99;
		position:absolute;
		right:1rem;
		top:1.5rem;
		background:transparent;
		border:none;
		color:$brand;

		@include interact {
			outline:none;
			color:darken($brand,20%);
		}
	}

	p, span {
		color:$brand;
	}

	p {
		font-weight:bold;
	}
}

#modal-overlay {
	cursor:pointer;
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background-color:transparentize(#000,0.25);
	z-index:98;

	display:none;
}

// CONTACT FORM
.thanks { display:none; }
input#referral { display:none; }

input[type="submit"] {
	margin-top:2.5rem;
}