.btn {
	display:inline-block;
	color:$brand;
	border:1px solid $brand;
	padding:0.5rem 1.5rem;
	@include transition(slow,'color,border');

	@include interact {
		color:$logo;
		border:1px solid $logo;
	}
}

.btn--primary {
	padding:0.5rem 3rem;
	font-size:1.5rem;
	font-weight:300;
}