.tab-list {
	position:relative;
}

.tab-list__list {
	list-style-type:none;
	margin:0;
	padding:0;
}

.tab-list__tab {
	outline:none;
	cursor:pointer;
	vertical-align:bottom;
	position:relative;
	display:inline-block;
	color: $brand;
	text-align:center;
	width:50%;
	padding:2rem 0;

	.icon {
		@include transition(normal,background-color);
	}	

	@include interact {
		.icon { background-color:transparentize($logo,0.75); }
	}

	@include mq(tab) {
		width:25%;
		padding: 2rem 0 4rem;// ORIGINAL: 4rem 0 6rem;
	}
}

.tab-list__tab[aria-selected='true'] {

	@include mq(tab) {

		&:after {
			content: "";
			border-left: 2rem solid transparent;
			border-right: 2rem solid transparent;
			border-top: none;
			border-bottom: 2rem solid $brand-overlay;
			display: block;
			position: absolute;
			bottom: 0;
			left: 50%;
			margin-left: -2rem;
		}
	}
}

.tab-list__tab--no-icon {
	.tab-list__link-text {
		border:3px solid $brand-overlay;
		padding: 2rem;
    	width: 90%;
    	margin: auto;
    	@include transition(normal,background-color);
	}

	@include interact {
		.tab-list__link-text { background-color:transparentize($logo,0.75); }
	}
}

.tab-list__link-text {
	margin-top:1rem;
	display:block;
	font-weight:300;
	font-size:0.875rem;

	@include mq(tab) {
		font-size:1rem;
	}
}

.tab-list__panel {
	display:block;
}

.tab-list__panel[aria-hidden='true'] {
	display: none;
}

.method {
    .tab-list__link .icon {
        width:10rem;
        height:10rem;
    }
}