{#
 # Kitchen Sink template
 # ---------------
 #
 #}

{% extends "_layout" %}

{% block content %}

<section>

	<div class="block">

		<div class="container">

			<h2>Single Column Text</h2>

			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae odio assumenda repellendus nulla, beatae, magni officia sed necessitatibus ut reprehenderit atque praesentium, vel fuga, voluptates labore. Error, recusandae quod expedita! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia eligendi eaque cumque mollitia totam in vero optio ad dolorum repudiandae necessitatibus itaque magnam animi recusandae ipsum, vel quidem obcaecati quisquam!</p>

		</div>

	</div>

</section>

<section>

	<div class="block block--light">

		<div class="container">

			<ul class="grid">
				<li class="grid__item lap-6-12">

					<h2>Two Column Text</h2>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis explicabo fugit eum ipsam voluptate maiores, ab a odio nostrum minus distinctio non ex obcaecati similique incidunt, sequi porro beatae facere.</p>

				</li><!--
				--><li class="grid__item lap-6-12">

					<h2>Two Column Text</h2>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis explicabo fugit eum ipsam voluptate maiores, ab a odio nostrum minus distinctio non ex obcaecati similique incidunt, sequi porro beatae facere.</p>

				</li>

			</ul>

		</div>

	</div>

</section>

<section>

	<div class="block block--bg" style="background-image:url(uploads/stock-photo-27046268-steady-hands-for-a-delicate-procedure.jpg);">

		<div class="container">

			<blockquote>
				<div class="quote__content">
					<p>Konnexis continues to provide excellent consulting, system development, and end-user support services to STERIS Isomedix Services. With over a 6-year business relationship, we have used Konnexis resources for development and implementation of our ERP application, business-to-business web services, customer web portal, and various process control and monitoring systems for both gamma and ethylene oxide processing. Their system’s expertise has delivered innovative solutions to our business requirements, resulting in positive impacts on our daily operations and our overall customer satisfaction ratings.</p>
				</div>
				<cite>&mdash; Ron Nyegard, Director of Operations Systems Development at STERIS Isomedix Services</cite>
			</blockquote>

		</div>

	</div>

</section>

<section>

	<div class="block block--center">

		<div class="container">

			<ul class="grid">
				<li class="grid__item lap-6-12 push-4-12">

					<h2>For more information or to request a quote</h2>

					<a class="btn btn--primary" href="#">Contact Us</a>
					
				</li>
			</ul>

		</div>

	</div>

</section>

<section class="products-services">

	<div class="block block--light block--center">

		<div class="container">

			<ul class="grid">
				<li class="grid__item lap-8-12 push-2-12">

					<h2>Products &amp; Services</h2>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto quam placeat, quibusdam voluptates veritatis vitae nihil ab beatae eveniet quia molestias recusandae ipsam quo ex impedit, excepturi repellat officia quas.</p>

				</li>
			</ul>

		</div>

	</div>

</section>

<section class="products-services">

	<ul class="grid grid--unpadded">
		<li class="grid__item tab-4-12">

			<a class="product-tile" href="#"><span class="product-tile__title">AccuSolo</span></a>

		</li><!--
		--><li class="grid__item tab-4-12">

			<a class="product-tile" href="#"><span class="product-tile__title">AccuSolo</span></a>

		</li><!--
		--><li class="grid__item tab-4-12">

			<a class="product-tile" href="#"><span class="product-tile__title">AccuSolo</span></a>

		</li>
	</ul>

</section>
	
{% endblock %}
